.ipynb_checkpoints/eran_dev-checkpoint.ipynb
.ipynb_checkpoints/eran_in_progress-checkpoint.ipynb
.ipynb_checkpoints/housing_profile+_report-checkpoint.html
.ipynb_checkpoints/eran_eda_1-checkpoint.ipynb
.ipynb_checkpoints/House Prices Project Notebook-checkpoint.ipynb
